.scroll-container {
    position: absolute;
    right: 0;
    display: block;
    width: 25vw;
    background-color: #E5E5E5;
    height: 100vh;
    overflow-y: scroll;
}

.scroll-item-container {
    /* width: 20vw; */
    /* margin: 15%; */
}

.scroll-item {
    width: 10vw;
    padding: 10%;
    margin: 10% 0 0 10%;
    background-color: #FFFFFF;
}

.scroll-item img {
    width: 10vw;
}