.scroll-container {
    position: absolute;
    right: 0;
    display: block;
    width: 25vw;
    background-color: #E5E5E5;
    height: 100vh;
    overflow-y: scroll;
}

.scroll-item {
    width: 10vw;
    padding: 4% 7%;
    margin: 10% 0 0 10%;
    background-color: #FFFFFF;
    transition: all 0.5s ease-in-out;
}

.scroll-item-container {
    text-decoration: none;
    text-align: left;
}

.scroll-item:hover {
    filter: drop-shadow(0 0 0.5rem #AAAAAA);
}

.home-link {
    font-family: 'Caveat Brush', cursive;
    font-size: 1em;
    font-weight: 100;
    color: #8F8F8F;
    margin: 5% 0;
    padding: 4% 7%;
}

.scroll-name {
    font-family: 'Caveat Brush', cursive;
    font-size: 1em;
    font-weight: 100;
    color: #8F8F8F;
    margin: 5% 0;
    padding: 0;
}

.scroll-item img {
    width: 10vw;
}