@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');

.container {
    background-color: #E5E5E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.photograph {
    text-decoration: none;
}

.movieContainer {
    transition: all 0.15s ease-in;
}

.movieContainer h5 {
    background-color: #FFFFFF;
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
    font-family: 'Caveat Brush', cursive;
    font-size: 18px;
    font-weight: 100;
    color: #000000;
}

.movieContainer img {
    width: 20vw;
    padding: 15px;
    background-color: #FFFFFF;
}

.movieContainer:hover {
    transform: translate(0px, -10px);
}