@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');

.container {
    background-color: #EAEAEA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.row {
    display: flex;
    height: 30vh;
    transform: translateY(20%);
}

.row-2 {
    display: flex;
    transform: translateX(-20%);
}

.row-3 {
    display: flex;
    transform: translateY(-40%);
}

.photograph {
    text-decoration: none;
    cursor: default;
    position: relative;
}

.p0 {
    transform: rotate(4deg);
}

.p1 {
    transform: rotate(-6deg);
}

.p2 {
    transform: rotate(5deg) translateY(20%);
}

.p3 {
    transform: rotate(6deg) translateY(-20%);
}

.p4 {
    transform: rotate(-4deg) translateY(-5%);
}

.p5 {
    transform: rotate(-4deg) translateX(-5%);
}

.p6 {
    transform: rotate(4deg) translate(15%, -5%);
}

.movieContainer {
    transition: all 0.1s ease-in;
    cursor: pointer;
    filter: drop-shadow(0 0 0.1rem #C3C3C3);
}

.movieContainer h5 {
    background-color: #FFFFFF;
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
    font-family: 'Caveat Brush', cursive;
    font-size: 18px;
    font-weight: 100;
    color: #8F8F8F;
}

.movieContainer img {
    width: 15vw;
    padding: 15px;
    background-color: #FFFFFF;
}

.p2 img {
    width: 12vw;
}

.p3 img {
    width: 10vw;
}

.p4 img {
    width: 18vw;
}

.p5 img {
    width: 17vw;
}

.p6 img {
    width: 17vw;
}

.movieContainer:hover {
    transform: translate(0px, -10px);
}